body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#wel {
  color: white;
}
#headimage {
  /* height: 75px;
  width: 75px; */
  float: left;
  /* margin-left: 25px; */
  height: 200px;
  width: 250px;
}

#login {
  height: 50px;
  width: 500px;
  background-color: darkolivegreen;
  text-align: center;
  position: fixed;
  margin-left: 500px;
}

#recordform {
  height: 120px;
  width: 300px;
  background-color: darkolivegreen;
  text-align: center;
  position: fixed;
  margin-left: 500px;

}

#signupform {
 
  height: 100px;
  width: 400px;
  background-color: darkolivegreen;
  text-align: center;
  position: fixed;
  margin-left: 500px;
  
}

#userimage {
  height: 100px;
  width: 100px;
  border-radius: 15px;
}

.userrecord {
  float: right;
  font-size: 15px;
  font-weight: bold; 
  margin-right: 10px;
  
}

#userrecords {
  
  height: 175px;
  width: 1300px;
  background-color: rgb(12, 48, 36);
}

#record_image {
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 25px;
}

#edit {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: brown;
}


#rcont {
  /* background-color: ; */
  background-color: chocolate;
  height: 1000px;
  width: 1300px;
}

.record {
   padding: 25px;
   float: left; 
   margin-left: 8px;
  margin-bottom: 25px;
  height: 200px;
  width: 200px;
  font-weight: bold;
  
}

.star {
  
  font-size: 20px;
  
   color: goldenrod; 
}

.empty {
  
  font-size: 20px;
  color: white; 
    
}

#options {
  margin-top: -200px;
   position: relative; 
  
  height: 150px;
  width: 200px;
   background-color: white; 
   border-color: black;
   border-style: double;
   /* background-color: rgb(160, 83, 147);  */
}