body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#headimage {
  height: 75px;
  width: 75px;
}

#login {
  height: 50px;
  width: 500px;
  background-color: darkolivegreen;
}

#signupform {
  height: 100px;
  width: 400px;
  background-color: darkolivegreen;
  
}

#record_image {
  height: 200px;
  width: 200px;
  background-color: darkslategrey;
}

#rcont {
  background-color: rgb(5, 78, 78);
  height: 300px;
  width: 1300px;
}

#record {
  float: left; 
  height: 200px;
  width: 200px;
  background-color: darkolivegreen;
}